{:hara/type :project
 :hara/version "1.0.0"
 :project/id greenways.tahto/node
 :project/version "0.1.0-dev"
 :project/source-paths ["src"]
 :project/test-paths ["test"]
 :project/extension-paths []
 :project/capabilities #{:host/nginx}
 :project/dependencies
 {"gh:greenways-ai/hoplite" {:version "0.2.0"}}
 :project/main tahto.node.app
 :project/recipe "hara.recipe.edn"
 :tahto/exports
 {:tahto/client {:export/namespace tahto.client}
  :tahto/change-feed {:export/namespace tahto.change-feed.facade}}
 :project/default-profile :server
 :project/profiles
 {:server
  {:profile/language :hoplite
   :profile/main tahto.node.app/app
   :profile/options {:port 58100
                     :workers 1}}}}
